<html>
    <body>
        <form action="/addproduct" method="post">
            Pid:<input type="text" name="id" id="id"><br>
            Pname:<input type="text" name="name" id="name"><br>
            Price:<input type="text" name="pc" id="pc"><br>
            <button type="submit" name="btn" id="btn">add details</button>
        </form>
    </body>
</html>